/*Clean up the body for full page use and apply default font*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

main {
	margin-top: 4em;
}

.caret {
	color: lime;
}

@keyframes typing {
	from { width: 1.2em; }
	to { width: 100% }
}

@keyframes caret-color {
	from, to { border-right-color: lime; }
	50% { border-right-color: transparent; }
}


/***************************Menu Nav Bar**********************************/
#menu-box, #hire-me-box { display: none; }

nav {
	position: fixed;
	top: 0; 
	left: 0;
	display: flex;
	background-color: #262626;
	z-index: 5;
}
#menu-box:checked ~ nav {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#menu-toggle {
	background-image: url('_res/icons/menu.png');
	background-size: 2.2rem;
	background-position: center;
	background-repeat: no-repeat;
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	z-index: 5;
	border: 0 solid transparent;
	transition: border 0.7s, background-size 0.5s linear;
}
#menu-toggle:hover { background-size: 3rem; }
#menu-box:checked ~ nav > #menu-toggle {
	border: 0.25rem solid white;
	background-image: url('_res/icons/close.png');
}

#nav-links {
	position: absolute;
	display: block;
	flex-direction: column;
	overflow: hidden;
	opacity: 0;
	height: 100%;
	width: 100%;
}
#menu-box:checked ~ nav > #nav-links { opacity: 1; overflow: visible;}

.name-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4.5rem;
	color: white;
	font-size: 2rem;
	font-family: Courier New, Courier, monospace;
}

.inline-type {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	border-right: 0.58em solid transparent;
}
#menu-box:checked ~ nav > #nav-links > .name-logo .inline-type { 
	animation: typing 2s steps(9),
		caret-color 0.5s step-end 4;
}

#nav-divider { margin: 3vh; }

#pages, #contact { display: flex; flex: none; }

#pages {
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
	height: 0;
}
#menu-box:checked ~ nav > #nav-links > #pages { height: 28em; transition: height 0.5s linear 2s; }

#pages > a, #contact > a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 3rem;
	border: solid 0.25rem white;
	margin: 0.5rem;
}

#pages > a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 1.5em;
	min-width: 50vw;
}

#pages > a.active { background-color: white; color: #262626; pointer-events: none; }

#pages > a:hover { padding: 0 3vw; }
#pages > a:hover > .inline-command { display: inline; }
#pages > a:hover > span { display: none; }

#pages > a > .inline-command {
	display: none;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	font-weight: normal;
}

#contact {
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 10vh;
}

#contact > a {
	padding: 0.1em 1em;
	flex-basis: 100%;
	max-width: 2em;
}

#contact > a:hover { background-color: white; color: #262626; }
#contact > a:hover > .contact-icon { fill: #262626; }

.contact-label {
	font-size: 0.5em;
	display: block;
}

.contact-icon {
	display: inline-block;
	height: 1em;
	width: auto;
	fill: white;
}


/***************************Hire Me Banner*******************************/
#hire-me {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#hire-me-toggle, #hire-me-link {
	display: flex;
	align-items: flex-end;
	align-content: center;
	justify-content: center;
	color: white;
	cursor: pointer;
}

#hire-me-toggle {
	height: 4rem;
	background-color: #262626;
}

#hire-me-toggle > .name-logo {
	height: 4rem;
	font-size: 3vw;
	margin: 0 3vw 0 4rem;
	justify-content: flex-end;
}

#hire-me-link {
	font-size: 2rem;
	padding: 5rem 0 2rem 0;
	text-decoration: none;
	background-color: rgba(10, 10, 10, 0.7);
	transition: height 1s, padding 1s;
	text-align: center;
}
#hire-me-link:hover { background-color: rgba(20, 20, 20, 0.9); }
#hire-me-toggle:hover { background-color: #303030; }

@media screen and (min-width: 950px) {
	#hire-me-toggle > .name-logo {
		font-size: 1.5rem;
		margin: 0;
		justify-content: center;
	}
}

#hire-me-box:checked ~ #hire-me > #hire-me-link {
	height: 0;
	padding: 0;
	overflow: hidden;
}


/******************************Footer***********************************/
footer {
    background-color: #262626;
	color: white;
	width: 100%;
	text-align: center;
	padding: 1.2em 0;
	font-size: 1.1rem;
}
