/*Clean up the body for full page use and apply default font*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}


/***************************Menu Nav Bar**********************************/
#menu-box, #hire-me-box { display: none; }

nav {
	position: fixed;
	top: 0; 
	left: 0;
	display: flex;
	background-color: #262626;
	z-index: 5;
}

#menu-toggle {
	background-image: url('_res/icons/menu.png');
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	padding: 10px;
	z-index: 5;
	opacity: 0.7;
	border: 0 solid transparent;
	transition: border 0.7s, opacity 0.7s;
}

#menu-toggle:hover { opacity: 1; }

#nav-links {
	position: absolute;
	display: none;
	padding: 0 0 8vh 0;
	width: 100%;
}

.name-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Courier New, Courier, monospace;
	height: 78px;
}

#nav-divider { margin: 3vh; }

#menu-box:checked ~ nav {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}

#menu-box:checked ~ nav > #nav-links { display: block; }

#menu-box:checked ~ nav > #menu-toggle {
	border: 4px solid white;
	background-image: url('_res/icons/close.png');
}

.pages, .contact { margin: 0 10vw; }

.pages { padding-top: 60px; }

.pages > a, .contact > a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	font-size: 3em;
}

.pages > a:hover, .contact > a:hover {
	box-shadow: inset 0 0 0 5px white;
}

.pages > a { padding: 15px 0; }

.pages > a.active { font-weight: bold; }

.contact {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.contact > a {
	padding: 0.5em 0;
	flex-basis: 100%;
	max-width: 5em;
}

.contact-label {
	font-size: 0.8em;
	display: block;
}

.contact-icon {
	display: inline-block;
	height: 1.5em;
	width: auto;
	fill: white;
}


/***************************Hire Me Banner*******************************/
#hire-me {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

#hire-me-toggle, #hire-me-link {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: white;
	cursor: pointer;
}

#hire-me-link {
	font-size: 2em;
	height: 30vh;
	padding: 5vh 0;
	text-decoration: none;
	background-color: rgba(20, 20, 20, 0.7);
	transition: height 1s, padding 1s;
}

#hire-me-toggle {
	height: 70px;
	background-color: rgba(10, 10, 10, 0.9);
}

#hire-me-toggle .name-logo {
	height: 70px;
	font-size: 3vw;
	justify-content: flex-end;
	margin: 0 4vw 0 78px;
}

@media screen and (min-width: 950px) {
	#hire-me-toggle .name-logo {
		font-size: 28px;
		justify-content: center;
		margin: 0;
	}
}

#hire-me-link:hover, #hire-me-toggle:hover {
	background-color: rgba(50, 50, 50, 1.0);
}

#hire-me-box:checked ~ #hire-me > #hire-me-link {
	height: 0;
	padding: 0;
	overflow: hidden;
}


/******************************Footer***********************************/
footer {
	position: absolute;
	bottom: 0;
    background-color: #262626;
	color: white;
	width: 100%;
	text-align: center;
	padding: 1.2em 0;
	font-size: 1.1em;
}
