/*Clean up the body for full page use and apply default font*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

#menuCheckBox, #hire-me-box {
	display: none;
}

#menuCheckBox:checked ~ nav {
	display: block;
	z-index: 5;
	position: absolute;
}

#menuCheckBox:checked ~ #menuBox {
	background-image: url('../_res/icons/close.png');
}

#menuBox {
	display: block;
	background-color: #262626;
	z-index: 5;
	background-image: url('../_res/icons/menu.png');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	height: 50px;
	padding: 4px 0;
}

nav {
	display: none;
	background-color: #262626;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.contact a, .pages a {
	box-sizing: border-box;
	display: block;
	font-size: 1.2em;
	padding: 10px 20px;
}

.contact-label {
	font-size: 0.8em;
	display: block;
}

.pages a:hover, .contact a:hover {
	box-shadow: inset 0 0 0 5px white;
}

.pages a.active {
	font-weight: bold;
}

.contact-icon {
	display: inline-block;
	height: 30px;
	width: auto;

	fill: white;
}

@media screen and (min-width: 950px) {
	#menuCheckBox, #menuBox {
		display: none;
	}

	#navDiv {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	nav a {
		float: left;
	}

	.pages a.active {
		border-bottom: 3px solid white;
	}

	.pages {
		display: flex;
	}

	.pages a {
		padding: 20px 20px;
	}
}

.hire-me {
	position: fixed;
	top: 100px;
	right: 20px;
	font-size: 1.1em;
	text-align: center;
}

#hire-me-toggle, #hire-me-link {
	display: block;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#hire-me-toggle {
	float: left;
	background-color: rgba(250, 0, 0, 0.7);
	padding: 10px 6px 10px 10px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

#hire-me-link {
	float: right;
	background-color: rgba(220, 70, 0, 0.7);
	padding: 10px 16px 10px 4px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	transition: padding 1s;
	white-space: nowrap;
}

#hire-me-box ~ #hire-me-toggle:after {
  content: "/>";
}

#hire-me-box:checked ~ #hire-me-toggle:after {
  content: "<";
}

#hire-me-box:checked ~ #hire-me-link {
	width: 0;
	padding: 10px 0;
	overflow: hidden;
}

#hire-me-link:hover, #hire-me-toggle:hover {
	background-color: rgba(170, 10, 20, 1.0);
}

footer {
	clear: all;
    background-color: #262626;
	color: white;
	width: 100%;
	text-align: center;	
	padding: 1.2em 0;
	font-size: 1.1em;
}

