.landingText {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-size: 4vw;
	z-index: -1;
}

@media screen and (min-width: 950px) {
	.landingText {
		justify-content: center;
		align-items: flex-end;
		font-size: 3vmin;
		min-width: 80%;
	}
}

.landingText h1, .landingText h4 {
	font-weight: normal;
	color: white;
	text-align: right;
	line-height: 1em;
	margin: 2.5rem;
}

main {
	background-image: url('_res/landingPic.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;

	filter: blur(2px) brightness(60%);
	z-index: -5;
}
