.landingText {
	line-height: 0.5;
	position: absolute;
	top: 30%;
	right: 5%;
	text-align: right;
	font-size: 3.5vw;
	z-index: 0;
}

.landingText h1, .landingText h4 {
	font-weight: normal;
	color: white;
}

main {
	background-image: url('_res/landingPic.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	filter: blur(6px) brightness(45%);
	z-index: -5;
}
