#articleContent {
	font-family: 'Slabo 27px', serif;
	font-size: 140%;
	line-height: 2.0;
}

#articleContent p {
	width: 70%;
	margin: 60px auto;
}

.negativeContent {
	background-color: white;
	color: #262626;
}

.positiveContent {
	background-color: #262626;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#drumpic {
	padding-left: 19%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#motopic {
	padding-left: 1%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#bearcatpic {
	padding-left: 19%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#raiderpic {
	padding-left: 1%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#fracturepic {
	padding-left: 19%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#prpic {
	padding-left: 1%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#dogpic {
	padding-left: 19%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}

#birdpic {
	padding-left: 1%;
	padding-bottom: 1%;
	width: 30vw;
	height: 33vh;
}