.landingText {
	line-height: 0.5;
	position: absolute;
	top: 40%;
	right: 5%;
	text-align: right;
	color: white;
	font-size: 110%;
	z-index: 0;
}

.landingText h1, h4 {
	font-weight: normal;
}

main {
	background-image: url('../_res/landingPic.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	filter: blur(5px);
	z-index: -5;
}