/*Clean up the body for full page use and apply default font*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

nav {
	background-color: #262626;
	width: 100%;
}

.nav, .contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav {
	float: right;
}

.contact {
	float: left;
}

.contact-icon {
	display: block;
	height: 1.6em;
	width: auto;
}

.nav li, .contact li {
	float: left;
	min-height: 2.6em;
}

.nav a, .contact a {
	font-size: 1.3em;
	text-align: center;
	display: block;
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding: 0 1em;
}

.nav a {
	transition: font-size 0.1s linear;
}

.contact img {
	transition: height 0.1s linear;
}

.nav a:hover {
	font-size: 1.5em;
}

.contact img:hover {
	height: 2em;
}

.nav a.active {
	text-decoration: underline;
}

main {
	flex: 1;
	padding: 1em 0;
}

footer {
	clear: all;
    background-color: #262626;
	width: 100%;
	text-align: center;
	padding: 1.5em 0;
}

footer p {
	color: white;
	margin: 0;
}

