body {
	margin: 0 0;
}

#navBar {
	background-color: white;
	list-style-type: none;
	font-size:'[]' 110%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navBar li {
	float: left;
}

#navBar a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	display: block;
	color: #262626;
	text-decoration: none;
	cursor: pointer;
	padding: 16px;
}

#navBar a:hover, #navBar a.active {
	color: white;
	background-color: #262626;
}

#pageHeader {
	background-color: #262626;
    color: white;
	margin-top: 5vh;
	padding: 1% 0 1% 0;
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
	text-align: center;
	line-height: 0.5;
}

.contact-icon {
	display: block;
	max-height: 36px;
	width: auto;
}

#pageFooter {
	clear: all;
	font-family: 'Open Sans', sans-serif;
    background-color: #262626;
	width: 100%;
	text-align: center;
	padding: 1% 0;
}

#pageFooter p {
	color: white;
}

#contact {
	list-style-type: none;
	padding: 2% 20% 10% 20%;
	display: flex;
	justify-content: space-between;
}

#contact li {
	float: left;
}

#contact a {
	display: block;
	background-color: #262626;
	text-decoration: none;
}

