/*Clean up the body for full page use and apply default font*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

#menuCheckBox {
	display: none;
}

#menuCheckBox:checked ~ nav {
	display: block;
	z-index: 5;
	position: absolute;
}

#menuCheckBox:checked ~ #menuBox {
	background-image: url('../_res/icons/close.png');
}

#menuBox {
	display: block;
	background-color: #262626;
	z-index: 5;
	background-image: url('../_res/icons/menu.png');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	height: 50px;
	padding: 4px 0;
}

nav {
	display: none;
	background-color: #262626;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.contact a, .pages a {
	display: block;
	font-size: 1.2em;
	padding: 10px 16px;
}

.contact a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pages a:hover, .pages a.active, .contact a:hover {
	font-weight: bold;
}

.contact-icon {
	display: inline-block;
	height: 40px;
	width: auto;
	margin: 0 10px;

	fill: white;
}

@media screen and (min-width: 950px) {
	#menuCheckBox, #menuBox {
		display: none;
	}

	#navDiv {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav a {
		float: left;
	}

	.contact a, .contact-label {
		font-size: 1em;
		display: block;
	}

	.contact-icon {
		height: 30px;
	}
}

.hire-me-link {
	position: fixed;
	top: 90px;
	right: 10px;
}

.hire-me-link a {
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
	color: white;
	background-color: rgba(220, 70, 0, 0.7);

	display: block;
	padding: 1em;
	border-radius: 4px;
}

.hire-me-link a:hover {
	font-weight: 600;
	background-color: rgba(200, 10, 20, 1.0);
}

footer {
	clear: all;
    background-color: #262626;
	color: white;
	width: 100%;
	text-align: center;	
	padding: 1.2em 0;
	font-size: 1.1em;
}

