h1 {
	margin: 0;
	text-align: center;
	font-size: 350%;
	border: solid 1px white;
}

.content {
	padding: 0 2em;
}

.titlebar {
	float: left;
}

.detailbar {
	text-align: right;
}

.degreelist {
	list-style: none;
}

.name {
	font-weight: bold;
	font-size: 125%;
}

.location {
	font-size: 125%;
}

#coursetable, #skilltable {
	padding: 1em 2em;
	table-layout: fixed;
	width: 100%;
}

#coursetable th, #skilltable th {
	border-bottom: 1px solid;
}

#coursetable td, #skilltable td {
	text-align: center;
}