/* Settings for the index page */
.inline-cmd { display: none; font-style: normal; font-family: monospace; }

#blog-list { width: 100%; }
.blog-tag { list-style: none; display: block; }
.tag-label {
    display: block;
    text-align: center;
    padding: 0.75em 0;
    text-transform: capitalize;
    cursor: pointer;
    background-color: rgba(2, 15, 45, 0.95);
    font-size: 1.5em;
    color: white;
}
.tag-label:hover { background-color: darkslateblue; }
.blog-tags:checked ~ label { font-style: italic; font-weight: 600; pointer-events: none; }

#blog-population { padding-top: 1%; }

/* Settings for the actual blog posts */
h1 {
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding-top: 1em;
}

h4 { font-size: 1.5em; }

.blog-post {
    background-color: rgba(2, 15, 40, 0.95);
    color: white;
    cursor: pointer;
    margin: 5% 0;
}
.blog-post, .embedded { padding: 0 5% 2% 5%; }
.blog-post.preview {
    height: 45vh;
    overflow: hidden;
}
.blog-post a { color: white; }

.embedded { max-height: 50vh; overflow: auto; }

.blog-post p { font-size: 1.2em; line-height: 1.8; }

.code, .blockcode {
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: lime;
    background-color: #252525;
    padding: 0 0.5em;
}

.blockcode {
    padding: 1% 3%;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: nowrap;
}

.indent { margin-left: 30px; }

.double-indent { margin-left: 60px; }

.triple-indent { margin-left: 90px; }

/* Responsive handler */
@media screen and (min-width: 950px) {
    .blog-post, .embedded, .blog-tag-list {
        margin: 50px 5%;
        box-shadow: 5px 5px 5px #959595;
    }

    .blockcode { max-width: 750px; }

    .blog-post p { max-width: 810px; }
}
