h1 {
	padding: 1% 0;
	margin: 0;
	text-align: center;
	font-size: 3.5em;
	font-weight: 600;
	border: solid 1px white;
}

.content {
	padding: 0 0.5em;
	font-size: 1.2em;
}

.titlebar {
	text-align: center;
	border-bottom: 1px solid #262626;
	padding-bottom: 0.5em;
}

.detailbar {
	display: flex;
	justify-content: space-between;
}

.degreelist {
	padding: 0;
	list-style: none;
	text-align: center;
}

.location {
	font-weight: bold;
}

.name {
	font-weight: bold;
	font-size: 1.25em;
}

.detail {
	font-style: italic;
}

.school, .job {
	padding: 4% 0;
}

#titleDivider {display: none;}
#detailDivider {display: none;}
#detailBreak {display: none;}

#coursetable, #skilltable {
	font-size: 1.1em;
	width: 95%;
	margin: 0 auto;
	table-layout: fixed;
	border-collapse: collapse;
}

#coursetable th, #skilltable th {
	border-bottom: 1px solid;
	background-color: #262626;
	color: white;
}

#coursetable tr:nth-child(even), #skilltable tr:nth-child(even) {
	background-color: #909090;
}

#coursetable tr, #skilltable tr {
	text-align: center;
	border-bottom: 1px solid;
}

@media screen and (min-width: 950px) {
	.content {padding: 0 10%;}
	#titleDivider {display: block;}
	#detailDivider {display: block;}
	#detailBreak {display: block;}

	.titlebar {
		float: left;
		text-align: left;
		border-bottom: none;
	}

	.detailbar {
		display: block;
		text-align: right;
		font-weight: normal;
	}

	.degreelist {
		text-align: left;
	}

	.location {
		font-size: 1.25em;
	}

	.school { padding: 0; }
	.job { padding: 1% 0; }

	#coursetable, #skilltable {
		width: 80%;
	}

	#coursetable th, #skilltable th {
		background-color: transparent;
		color: unset;
	}

	#coursetable tr:nth-child(even), #skilltable tr:nth-child(even) {
		background-color: unset;
	}

	#coursetable tr, #skilltable tr {
		border-bottom: none;
	}
}