/* Settings for the index page */
#blog-sources { display: flex; flex-direction: column; }
#blog-sources .active {
	background-color: #262626;
	color: white;
	pointer-events: none;
	border: 2px solid white;
}

.blog-source {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	font-size: 2.5em; 
	min-height: 2em;

	border: 2px solid #262626;
	color: #262626;
	text-decoration: none;
}
.blog-source:hover > .disp-text { display: none; }
.blog-source:hover > .inline-cmd { display: inline; }

.inline-cmd { display: none; font-style: normal; font-family: monospace; }

#blog-population {
	padding-top: 2%;
}


/* Settings for the actual blog posts */
h1 { font-size: 2.5em; font-family: Georgia, 'Times New Roman', Times, serif; }

.blogpost, .embedded { padding: 0 5% 5% 5%; }

.embedded { max-height: 50vh; overflow: auto; }

.blogpost p { font-size: 1.2em; line-height: 1.8; }

.code, .blockcode {
	font-family: Consolas, 'Courier New', Courier, monospace;
	color: lime;
	background-color: #303030;
	padding: 0 0.5em;
}

.blockcode {
	padding: 1% 3%;
	font-size: 0.95em;
	overflow-x: auto;
	white-space: nowrap;
}

.indent { margin-left: 30px; }

.double-indent { margin-left: 60px; }

.triple-indent { margin-left: 90px; }


/* Responsive handler */
@media screen and (min-width: 950px) {
	#blog-sources { flex-direction: row; }

	.blogpost, .embedded {
		margin: 0 5% 5% 5%;
		border: 1px solid;
		box-shadow: 5px 5px 5px #262626;
	}

	.blockcode { max-width: 750px; }

	.blogpost p { max-width: 810px; }
}
