@import 'tailwindcss';

@layer components {
	:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	button {
		cursor: pointer;
	}
}

html,
body {
	min-height: 100dvh;
	min-width: 100dvw;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

code {
	font-family: monospace;
}

:root {
	--icon-dimension: 24px;
}

.icon {
	width: var(--icon-dimension);
	height: var(--icon-dimension);
}
