@import 'tailwindcss';

@layer components {
	:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	button {
		cursor: pointer;
		padding: calc(var(--spacing) * 1);
	}

	textarea {
		outline-style: var(--tw-outline-style);
		outline-width: 1px;
		padding: calc(var(--spacing) * 2);
	}

	li {
		list-style-type: disc;
	}

	.btn {
		outline-style: var(--tw-outline-style);
		outline-width: 1px;
	}
}

html,
body {
	min-height: 100dvh;
	min-width: 100dvw;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

code {
	font-family: monospace;
}

:root {
	--icon-dimension: 24px;
}

.icon {
	width: var(--icon-dimension);
	height: var(--icon-dimension);
}
