@import 'tailwindcss';

@layer components {
	:root {
		--tw-border-width: 1px;
		/* FIXME */
		/* Set the tw-outline-color to theme primary color */
	}

	:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	input[type='text'],
	input[type='datetime-local'],
	select {
		border-style: var(--tw-border-style);
		border-width: var(--tw-border-width);
	}
	input[type='text']:focus,
	input[type='datetime-local']:focus,
	select:focus,
	textarea:focus {
		outline: solid var(--tw-outline-color);
	}

	button {
		cursor: pointer;
	}

	textarea {
		border-style: var(--tw-border-style);
		border-width: var(--tw-border-width);
		padding: calc(var(--spacing) * 2);
	}

	ol,
	ul {
		list-style-type: none;
	}

	.btn {
		border-style: var(--tw-border-style);
		border-width: var(--tw-border-width);
		padding: calc(var(--spacing) * 1);
	}

	.btn-icon {
		padding: calc(var(--spacing) * 4);
	}
}

html,
body {
	min-height: 100dvh;
	min-width: 100dvw;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

code {
	font-family: monospace;
}

:root {
	--icon-dimension: 24px;
}

.icon {
	width: var(--icon-dimension);
	height: var(--icon-dimension);
}
