#articleContent {
	font-family: 'Open Sans', sans-serif;
	font-size: 115%;
}

#articleContent p {
	width: 70%;
	margin: 60px auto;
}

.negativeContent {
	background-color: white;
	color: #101214;
}

.positiveContent {
	background-color: #101214;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contentFooter {
	text-align: center;
	font-style: italic
}