#articleContent {
	font-family: 'Open Sans', sans-serif;
	font-size: 115%;
	line-height: 1.8;
	padding: 2% 15% 10% 10%;
}

#contentFooter {
	text-align: center;
	font-style: italic
}

#labview {
float: left;
width: 30vw;
height: 48vh;
padding: 2% 10% 4% 0;
}