html { height: 100%; }
body { min-height: 100%; display: flex; flex-direction: column; margin: 0; }
html, body { font-family: 'Segoe UI', Verdana, sans-serif; }

main { padding-top: 4em; flex: 1; position: relative; }

.caret { color: lime; }

@keyframes typing { from { width: 1.2em; } to { width: 100% } }

@keyframes caret-color { from, to { border-right-color: lime; } 50% { border-right-color: transparent; } }


/***************************Menu Nav Bar**********************************/
#menu-box, #nav-bar-box { display: none; }

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(2, 24, 44, 0.96);
    z-index: 5;
}
#menu-box:checked ~ nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#menu-box:checked ~ nav > #nav-bar { display: none; }

#menu-box:checked ~ main { position: fixed; }

#menu-toggle {
    background-color: rgba(9, 6, 34, 1);
    background-image: url('/_res/icons/menu.png');
    background-size: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    z-index: 5;
    border: 0 solid transparent;
    transition: border 0.7s, background-size 0.5s linear;
    cursor: pointer;
}
#menu-toggle:hover { background-size: 3rem; }
#menu-box:checked ~ nav > #menu-toggle { border: 0.25rem solid white; background-image: url('/_res/icons/close.png'); }

#nav-links {
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    opacity: 0;
    width: 0;
}
#menu-box:checked ~ nav > #nav-links { opacity: 1; overflow: visible; width: 100%; }

.inline-type {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.58em solid transparent;
}
#menu-box:checked ~ nav > #nav-links > .name-logo .inline-type {
    animation: typing 2s steps(9),
        caret-color 0.5s step-end 4;
}

#nav-divider { margin: 3vh; }

#pages, #contact { display: flex; }

#pages {
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    height: 0;
}
#menu-box:checked ~ nav > #nav-links > #pages { height: 28em; transition: height 0.5s linear 2s; }

#pages > a, #contact > a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 3rem;
    border: solid 0.25rem white;
    margin: 0.5rem;
}

#pages > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1.5em;
    min-width: 50vw;
}

#pages > a.active { background-color: white; color: #0f3066; pointer-events: none; }

#pages > a:hover { padding: 0 3vw; }
#pages > a:hover > .inline-command { display: inline; }
#pages > a:hover > span { display: none; }

#pages > a > .inline-command {
    display: none;
    font-family: Courier New, Courier, monospace;
    font-style: normal;
}

#contact {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

#contact > a { padding: 0.1em 1em; }

#contact > a:hover { background-color: white; color: #0f3066; }
#contact > a:hover > .contact-icon { fill: #0f3066; }

.contact-label { font-size: 0.5em; display: block; }

.contact-icon {
    display: inline-block;
    height: 1em;
    width: auto;
    fill: white;
}


/***************************Hire Me Banner*******************************/
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#nav-bar-toggle, #nav-bar-link {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

#nav-bar-toggle { background-color: rgba(2, 7, 60, 1); }

.name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin: 0 3vw 0 4rem;
    color: white;
    font-size: 3vw;
    font-family: Courier New, Courier, monospace;
}


#nav-bar-link {
    font-size: 2rem;
    padding: 5rem 0 2rem 0;
    text-decoration: none;
    background-color: rgba(5, 10, 20, 0.7);
    transition: height 1s, padding 1s;
    text-align: center;
}
#nav-bar-link:hover { background-color: rgba(5, 10, 30, 0.9); }
#nav-bar-toggle:hover { background-color: rgba(5, 10, 75, 1.0); }

@media screen and (min-width: 950px) {
	#nav-bar-toggle > .name-logo {
		font-size: 1.5rem;
		margin: 0;
		justify-content: center;
	}
}

#nav-bar-box:checked ~ #nav-bar > #nav-bar-link { height: 0; padding: 0; overflow: hidden; }


/******************************Footer***********************************/
footer {
    background-color: rgba(2, 24, 44, 1.0);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.2em 0;
    font-size: 1.1rem;
}
