body {
	margin: 0 0;
}

#navBar {
	background-color: white;
	list-style-type: none;
	font-size:'[]' 110%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navBar li {
	float: left;
}

#navBar a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	display: block;
	color: #101214;
	text-decoration: none;
	cursor: pointer;
	padding: 16px;
}

#navBar a:hover, #navBar a.active {
	color: white;
	background-color: #101214;
}

#pageHeader {
	background-color: #101214;
    color: white;
}

#headerUL {
	text-align: center;
	padding: 35vh 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

#headerLL {
	text-align: center;
	padding: 0;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 250;
    margin: 0;
}

#pageFooter {
	font-family: 'Open Sans', sans-serif;
    background-color: #101214;
    color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

