body {
	margin: 0 0;
}

.pageHeader {
    padding: 100px;
    background-color: #101214;
    color: white;
}

.pageHeader ul {
	background-color: #101214;
	list-style: none;
	font-size: 110%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.pageHeader ul li {
	display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 10px 0px 10px;
}

.pageHeader ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 11px;
	cursor: pointer;
}

.pageHeader ul li a:hover {
	background-color: #333;
}

.headerText {
    padding: 0;
    margin: 40px 40px;
}

.headerUL {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin: 0;
}

.headerLL {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
}

.mainDiv {
	margin: 60px auto;
	width: 70%;
}

.mainDiv content {
	padding: 0% 20%;
}

.mainDiv footer {
	text-align: center;
	font-style: italic
}

.aboutContent p {
    
}

.mainFooter {
    background-color: #101214;
    color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

